<body>
  <%= react_component("panel/Panel", { 
    content: [
      { title: "Ticket", xs: 12, md: 6, minHeight: 0, content: "" },
      { title: "Tickets", xs: 12, md: 3, minHeight: 0, content: "" },
      { title: "Info", xs: 12, md: 3, minHeight: 0, content: "" }
    ]
  }) %>
</body>