<body>
  <%= react_component("panel/Panel", { 
    content: [
      { title: "Service Status", xs: 12, md: 3, minHeight: 0, content: "" },
      { title: "Fender Status", xs: 12, md: 3, minHeight: 0, content: "" },
      { title: "Help", xs: 12, md: 3, minHeight: 0, content: "" }
    ]
  }) %>
</body>